{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}{% endblock %}

{% block body_block %}

    {% if user.is_authenticated %}
            <h1>Rango says... hello {{ user.username }}!</h1>
    {% else %}
            <h1>Rango says... hello world!</h1>
    {% endif %}


    {% if categories %}
            <ul>
                {% for category in categories %}
 {#                    <li><a href="{% url 'category' category.slug %}">{{ category.name }}</a></li>#}
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}

        <h1> Top 5 Pages</h1>

        {% if viewed_pages %}

            <ul>
                {% for viewed_page in viewed_pages %}
                    <li><a href="{{ viewed_page.url }}">{{ viewed_page.title }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
             <strong>There are no viewed pages to present.</strong>
        {% endif %}


        {% if user.is_authenticated %}
        <a href="{% url 'add_category' %}">Add a New Category</a><br />
        {% endif %}


        <img src="{% static "images/deadpool.jpg" %}" alt="Picture of Deadpool" />


{% endblock %}



